@using WebsiteKunstenboetiek.App_Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="~/Home/Index">
                <img src="~/Images/background/logo.png" width="130" />
            </a>
            <a href="~/Home/Index">
                <h1>Kunstenboetiek</h1>
            </a>

            <nav onclick="hide_show()" onmouseover="imgMouserOver()" onmouseout="imgMouseOut()">
                <img id="hideButtonTop" class="hideButton" src="~/Images/Buttons/menu-button-icon.png" alt="menu knop" />
                <ul id="navMenu" class="hidden">
                    <li>@Html.MenuLink("Home", "Index", "Home")</li>
                    <li>@Html.MenuLink("Urnen", "Urnen", "Galerij")</li>
                    <li>@Html.MenuLink("Mini urnen", "MiniUrnen", "Galerij")</li>
                    <li>@Html.MenuLink("Dieren urnen", "DierenUrnen", "Galerij")</li>
                    <li>@Html.MenuLink("Andere werken", "AndereWerken", "Galerij")</li>
                    <li>@Html.MenuLink("Geschiedenis", "Geschiedenis", "Galerij")</li>
                    <li>@Html.MenuLink("Info", "Info", "Home")</li>
                    <li>@Html.MenuLink("Contact", "Contact", "Home")</li>
  
                </ul>
            </nav>
        </header>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <section>
            <p>
                <img src="~/Images/background/logo.png" width="110" />
                <em>Kunsteboetiek</em><br />
                Veerle Buytaert<br />
                Canadalaan 9<br />
                9140 Temse<br />
                0484607082<br />
                kunstenboetiek@hotmail.com
            </p>
        </section>
        <section>
            <p>
                webdesign &amp; ontwikkeling<br />
                Michiel Goossens<br />
                michielgoossens1409@gmail.com<br />
                0484607082
            </p>
        </section>
    </footer>
</body>
</html>
<script>
    var navMenu = document.getElementById("navMenu");
    var content = document.getElementById("content");
    var hideButtonTop = document.getElementById('hideButtonTop');
    function hide_show() {
        if (navMenu.classList.contains("hidden")) {
            navMenu.classList.remove("hidden");
            navMenu.classList.add("open");
        }
        else {
            navMenu.classList.add("hidden");
            navMenu.classList.remove("open");
        }
        if (content.classList.contains("marginTop")) {
            content.classList.remove("marginTop");
        }
        else {
            content.classList.add("marginTop");
        }
    }
    function imgMouserOver(){
        hideButtonTop.src = '/Images/Buttons/menu-button-icon-hover.png';
    }
    function imgMouseOut(){
        hideButtonTop.src = '/Images/Buttons/menu-button-icon.png';
    }
</script>