<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kunstenboetiek</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Info", "Info", "Home")</li>
        </ul>
    </nav>
    <div>
        @RenderBody()
        <footer>
            <p>&copy; webdesign &amp; development door Michiel Goossens - michielgoossens1409@gmail.com - @DateTime.Now.Year - Kunstenboetiek</p>
        </footer>
    </div>
</body>
</html>
