@using WebsiteKunstenboetiek.App_Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <a id="homeLink" href="~/Home/Index">
                <img src="~/Images/background/logo.png" width="110" />
                <h1>Kunstenboetiek</h1>
            </a>
            <nav id="hideButton" onclick="hide_show()">
                        <ul id="navMenu" class="hidden">
                            <li onclick="hide()">@Html.MenuLink("Home", "Index", "Home")</li>
                            <li onclick="hide()">@Html.MenuLink("Urnen", "Urnen", "Galerij")</li>
                            <li onclick="hide()">@Html.MenuLink("Mini urnen", "MiniUrnen", "Galerij")</li>
                            <li onclick="hide()">@Html.MenuLink("Dieren urnen", "DierenUrnen", "Galerij")</li>
                            <li onclick="hide()">@Html.MenuLink("Andere werken", "AndereWerken", "Galerij")</li>
                            <li onclick="hide()">@Html.MenuLink("Geschiedenis", "Geschiedenis", "Galerij")</li>
                            <li onclick="hide()">@Html.MenuLink("Info", "Info", "Home")</li>
                            <li onclick="hide()">@Html.MenuLink("Contact", "Contact", "Home")</li>
                        </ul>
            </nav>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <section>
            <p>
                <em>Kunsteboetiek</em><br />
                Veerle Buytaert<br />
                Canadalaan 9<br />
                9140 Temse<br />
                0484607082<br />
                kunstenboetiek@hotmail.com
            </p>
        </section>
        <section>
            <p>
                &copy; webdesign &amp; ontwikkeling<br />
                Michiel Goossens<br />
                michielgoossens1409@gmail.com<br />
                0484607082
            </p>
        </section>
    </footer>
</body>
</html>
<script>
    var navManu = document.getElementById("navMenu");
    function hide_show()
    {
        if (navManu.classList.contains("hidden"))
            navManu.classList.remove("hidden");
        else
            navManu.classList.add("hidden");
    }
</script>