@model WebsiteKunstenboetiek.Models.Artikel

@{
    ViewBag.Title = "Kunstenboetiek - " + Model.Naam;
}
<a id="linkTerug" href="/Galerij/@ViewBag.Link">Naar @{
    string naar;
    if (Model.Verkocht == false)
    {
        if (Model.Soort.Substring(Model.Soort.Length - 4).ToLower() == "urne")
        {
            naar = Model.Soort.ToLower() + 'n';
        }
        else
        {
            naar = Model.Soort.ToLower();
        }
    }
    else
    {
        naar = "Geschiedenis";
    }
    @naar;
}</a>
<article>
    <div class="gallery">
        <img id="preview" src="@Model.ArtikelAfbeeldingen.LastOrDefault().AfbeeldingLink" alt="@Model.Naam voorbeeld" />
        <aside class="thumbnails">
            @{ int count = 0;}
            @foreach (var aA in Model.ArtikelAfbeeldingen.Reverse())
            {
                count++;
                string name = Model.Naam + count;
                <img onclick="document.getElementById('preview').src='@aA.AfbeeldingLink'" id="@name" src="@aA.AfbeeldingLink" alt="@Model.Naam @count" />
            }
        </aside>
    </div>
    <section id="artikelInfo">
        <h2>@Model.Naam</h2>
        <p>@Model.Info</p>
        <ol>
            <li>Soort:</li>
            <li>@{
                if (Model.Soort.Length > 12 && Model.Soort.Substring(0, 12) == "Geschiedenis")
                {
                    Model.Soort = Model.Soort.Substring(13);
                }
                @Model.Soort;
            }</li>
            <li>Kleur:</li>
            <li>
                @{
                    if (Model.Kleur != null)
                    {
                    @Model.Kleur
                }
                else
                {
                    string geenKleur = "Er is geen kleur beschikbaar.";
                    @geenKleur
                }
            }
        </li>

        @if (Model.Prijs > 0)
        {
            <li>prijs:</li>
            <li id="prijs">@(Model.Prijs * 1.06) €</li>
        }
    </ol>
    </section>
</article>