@model List<WebsiteKunstenboetiek.Models.Artikel>

@{
    ViewBag.Title = "Kunstenboetiek - Urnen";
}
<article>
    <h2>Urnen</h2>
    <table>
        @foreach (var artikel in Model)
        {
            <tr>
                <td><img src="@artikel.ArtikelAfbeeldingen.FirstOrDefault().AfbeeldingLink" alt="@artikel.Naam" /></td>
                <td>@artikel.Naam</td>
                <td>@artikel.Info</td>
                <td>@artikel.Prijs</td>
            </tr>
        }
    </table>
    </article>
